
  .group-1 {
    position: relative;
    margin: 26px 28.5px 5px 0;
    display: flex;
    padding: 3px 0;
    width: 772px;
    height: 53px;
    box-sizing: border-box;
  }
  .ti-khon-2 .gi-hng {
    margin: 61.5px 32.5px 2.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 400;
    font-size: 15px;
    color: #413E7E;
  }
 
  .ti-khon-2 .ellipse-7 {
    border-radius: 100px;
    background: url('assets/images/ellipse_7.png') 50% / cover no-repeat;
    position: relative;
    margin: 0px 0px 15px 0px;
    width: 210px;
    height: 210px;
  }
  .ti-khon-2 .nguyn-vn-b {
    margin: 0 0 33px 7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    position: absolute;
    top: 230px;
    left: 80px;
  }
  .ti-khon-2 .personal-information {
    margin-bottom: 35px;
    display: flex;
    
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 20px;
    color: #5754A3;
    white-space: nowrap;
  }
  .ti-khon-2 .sales-history {
    margin: 0 21px 43px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 20px;
    color: #5754A3;
  }
  .ti-khon-2 .change-password {
    margin: 0 5px 41px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 20px;
    color: #5754A3;
  }
  .ti-khon-2 .log-out {
    margin-right: 43px;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 20px;
    color: #5754A3;
  }
  .ti-khon-2 .container {
    border: 1px solid #F7BDCB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 22px 25px 204px 25px;
    width: 260px;
    bottom: 100px;
    height :max-content;
    box-sizing: border-box;
    position: relative;
    top:40px;
    height: fit-content;
  
  }
  .ti-khon-2 .container-2 {
    margin: 20px 51px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 295px;
    box-sizing: border-box;
  }
  .ti-khon-2 .personal-information-1 {
    margin-bottom: 20px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 60px;
    color: #5754A3;
  }
  .ti-khon-2 .htn-1 {
    margin-bottom: 18.5px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 24px;
    color: #5754A3;
  }
  .ti-khon-2 .nguyn-vn-b-2 {
    margin: 0 34px 22.5px 34px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 20px;
    color: #E37596;
  }
  .ti-khon-2 .email-1 {
    margin-bottom: 22.5px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 24px;
    color: #5754A3;
  }
  .ti-khon-2 .nguyenvan-bgmail-com-1 {
    margin: 0 0 22.5px 34px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 20px;
    color: #E37596;
  }
  .ti-khon-2 .gii-tnh-1 {
    margin-bottom: 22.5px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 24px;
    color: #5754A3;
  }
  .ti-khon-2 .nam-1 {
    margin: 0 34px 22.5px 34px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 20px;
    color: #E37596;
  }
  .ti-khon-2 .sin-thoi-1 {
    margin-bottom: 22.5px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 24px;
    color: #5754A3;
  }
  .ti-khon-2 .container-2 {
    margin: 0 34px 18.5px 34px;
    display: inline-block;
    align-self: flex-start;
    position: relative;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 20px;
    color: #E37596;
  }
  .ti-khon-2 .ngy-sinh-1 {
    margin-bottom: 22.5px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 24px;
    color: #5754A3;
  }
  .ti-khon-2 .container-3 {
    margin: 0 34px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 20px;
    color: #E37596;
  }
  .ti-khon-2 .container-6 {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
 
  .ti-khon-2 .container {
    margin: 250px 31px 18.5px 30px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 20px;
    
    color: #E37596;
    
  }
  
  
  .ti-khon-2 .container-5 {
    border: 1px solid rgba(227, 117, 150, 0.79);
    background: rgba(255, 193, 211, 0.22);
    position: relative;
    padding: 23.5px 29px 28px 29px;
    width: auto;
    box-sizing: border-box;
  }
  .ti-khon-2 .container-4 {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    width: 1005px;
    box-sizing: border-box;
  }
  .ti-khon-2 .container-9 {
    position: relative;
    display: flex; 
    flex-direction: row;
    box-sizing: border-box;
  }
  .ti-khon-2 .rectangle-74 {
    border:  solid #E37596;
    position: absolute;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 210px;
    top: 110px;
    width: 210px;
    height: 210px;
  }
  .ti-khon-2 .container-3 {
    position: relative;
    margin: 0 35px 0 55px;
    display: flex;
    box-sizing: border-box;
  }
 