.customer-management-1 .logo {
  background: url('../assets/images/mobile_11.png') 50% / cover no-repeat;
  margin: 5px 0 4px 0;
  width: 72px;
  height: 86px;
}
.customer-management-1 .group-1 {
  position: relative;
  margin: 26px 28.5px 5px 0;
  display: flex;
  padding: 3px 0;
  width: 772px;
  height: 53px;
  box-sizing: border-box;
}
.customer-management-1 .giohang {
  margin: 70px 10px 2px 0;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 15px;
  color: #413E7E;
  width: 73px;
  height: 15px;
}
.customer-management-1 .taikhoan {
  margin: 70px 0 2.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 15px;
  color: #413E7E;
}
.customer-management-1 .container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.customer-management-1 .customer-management {
  margin-right: 13px;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 700;
  font-size: 30px;
  color: #413E7E;
}
.customer-management-1 .arrow-down-sign-to-navigate-3 {
  background: url('../assets/images/next.png') 50% / cover no-repeat;
  margin: 11px 0 9px 0;
  width: 20px;
  height: 20px;
}
.customer-management-1 .container {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  position: relative;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  padding: 15px 0 15px 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.customer-management-1 .menu1 {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.customer-management-1 .tn-ca-hng {
  /* box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  margin: 0 30.8px 95px 30.8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Jockey One';
  font-weight: 400;
  font-size: 70px;
  color: #5754A3;
}
.customer-management-1 .rectangle-51 {
  position: relative;
  display: flex;
  justify-content: center; /* Canh giữa theo chiều ngang */
  align-items: top;
  border: 1px solid #E37596;
  align-self: center;
  width: 654px;
  height: 383px;
}
.customer-management-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  width: 100%;
  box-sizing: border-box;
}
.group-26 .continue {
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 700;
  font-size: 36px;
  color: #FFF3F3;
}
.group-26 {
  border-radius: 15px;
  border: 1px solid #FEB5CA;
  background: #E37596;
  display: flex;
  padding: 11px 4.2px 7px 0;
  box-sizing: border-box;
}
.textbox-input {
  width: 441px;
  height: 50px;
  background: #FEF7FC;
  border: 1px solid #FF98CF;
  position: absolute; 
  top: 50%; 
  bottom: 10px; 
  left: 15%; 
  right: 0;
  border-radius: 15px;
  padding: 8px;
  font-size: larger;
}

.textbox-input-name {
  width: 441px;
  height: 50px;
  background: #FEF7FC;
  border: 1px solid #FF98CF;
  position: absolute; 
  top: 40%; 
  bottom: 10px; 
  left: 25%; 
  right: 0;
  border-radius: 15px;
  padding: 8px;
  font-size: larger;
}
.textbox-input-address {
  width: 441px;
  height: 50px;
  background: #FEF7FC;
  border: 1px solid #FF98CF;
  position: absolute; 
  top: 65%; 
  bottom: 10px; 
  left: 25%; 
  right: 0;
  border-radius: 15px;
  padding: 8px;
  font-size: larger;
}

.btn-next {
  width: 455px;
  height: 66px;
  border-radius: 15px;
  border: 1px solid #FEB5CA;
  background: #E37596;
  font-family: 'JetBrains Mono';
  font-weight: 700;
  font-size: 36px;
  color: #FFF3F3;
  position: absolute; 
  top: 75%; 
  bottom: 10px; 
  left: 15%; 
  right: 0;
  text-decoration: none; /* Loại bỏ underline */
  text-align: center; /* Căn giữa chữ */
  line-height: 66px; /* Điều chỉnh dòng chữ căn giữa theo chiều dọc */
}

.btn-next-1 {
  width: 455px;
  height: 66px;
  border-radius: 15px;
  border: 1px solid #FEB5CA;
  background: #E37596;
  font-family: 'JetBrains Mono';
  font-weight: 700;
  font-size: 36px;
  color: #FFF3F3;
  position: absolute; 
  top: 80%; 
  bottom: 10px; 
  left: 25%; 
  right: 0;
  text-decoration: none; /* Loại bỏ underline */
  text-align: center; /* Căn giữa chữ */
  line-height: 66px; /* Điều chỉnh dòng chữ căn giữa theo chiều dọc */
}

.customer-management-2 .arrow-down-sign-to-navigate-8 {
  background: url('../assets/images/arrow_down_sign_to_navigate_9.png') 50% / cover no-repeat;
  position: absolute;
  right: 147px;
  bottom: 125px;
  width: 20px;
  height: 20px;
}

.customer-management-2 .avt {
  border-radius: 150px;
  background: url('../assets/images/ellipse_7.png') 50% / cover no-repeat;
  margin-bottom: 39.5px;
  align-self: center;
  width: 200px;
  height: 200px;
}
.customer-management-2 .ten {
  margin: 0 16.4px 32.5px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.customer-management-2 .hoten {
  margin: 0 1px 26.1px 1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 700;
  font-size: 20px;
  color: #8F8686;
}
.customer-management-2 .line-4 {
  background: #E37596;
  margin: 0 0 55.9px 1px;
  width: 1130px;
  height: 1px;
}
.customer-management-2 .sodienthoai {
  margin: 0 0px 26.1px 0px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 700;
  font-size: 20px;
  color: #8F8686;
}
.customer-management-2 .line-7 {
  background: #E37596;
  margin: 0 1px 55.9px 0;
  width: 1130px;
  height: 1px;
}
.customer-management-2 .diachi {
  margin: 0 0px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 700;
  font-size: 20px;
  color: #8F8686;
}
.customer-management-2 .container-3 {
  border-radius: 20px;
  border: 1px solid #E37596;
  position: relative;
  margin: 0 100px 40px 70px;
  display: flex;
  flex-direction: column;
  padding: 49px 83px 48px 94px;
  width: fit-content;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.customer-management-2 .lsmh {
  margin: 0 24px 59.5px 100px;
    display: inline-block;
    width: 991px;
    overflow-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}
.customer-management-2 .container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1250px;
  box-sizing: border-box;
}
.customer-management-2 .xem-chi-tit {
  margin-right: 20.8px;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #5754A3;
}
.customer-management-2 .arrow-down-sign-to-navigate-5 {
  background: url('../assets/images/arrow_down_sign_to_navigate_9.png') 50% / cover no-repeat;
  margin: 14px 0;
  width: 20px;
  height: 20px;
}
.customer-management-2 .arrow-down-sign-to-navigate-4 {
  background: url('../assets/images/arrow_down_sign_to_navigate_9.png') 50% / cover no-repeat;
  margin: 14px 0;
  width: 20px;
  height: 20px;
}
.customer-management-2 .container {
  margin: 0 0 93.5px 830px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.customer-management-2 .mn-02 {
  margin: 0 144px 5px 144px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.customer-management-2 .mvch {
  margin: 0 144px 5px 144px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.customer-management-2 .tng-tin-43090000 {
  margin: 0 144px 5px 144px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.customer-management-2 .stin-khch-hnga-43100000 {
  margin: 0 144px 5px 144px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.customer-management-2 .stin-tha-tr-li-10000 {
  margin: 0 144px 5px 144px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.customer-management-2 .ngy-mua-23042024 {
  margin: 0 144px 5px 144px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.customer-management-2 .slng-sn-phm-1 {
  margin: 0 144px 10.5px 144px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.customer-management-2 .madon {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.customer-management-2 .mavach {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.customer-management-2 .tongtien {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.customer-management-2 .tiendua {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.customer-management-2 .tienthua {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.customer-management-2 .ngaymua {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.customer-management-2 .soluong {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.customer-management-2 .container-4 {
  border-radius: 10px;
  border: 1px solid #E37596;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 31.5px 0 71.5px 37px;
  box-sizing: border-box;
}
.customer-management-2 .xemchitiet {
  position: absolute;
  right: 104.8px;
  bottom: 13px;
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 20px;
  color: #5754A3;
}
.customer-management-2 .arrow-down-sign-to-navigate-9 {
  background: url('../assets/images/arrow_down_sign_to_navigate_9.png') 50% / cover no-repeat;
  position: absolute;
  right: 64px;
  bottom: 27px;
  width: 20px;
  height: 20px;
}
.customer-management-2 .container-1 {
  position: relative;
  margin: 0 100px 40px 100px;
  box-sizing: border-box;
}
.customer-management-2 .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.customer-management-2 {
  background: #FFFFFF;
  display: flex;
  padding: 0 3px 98px 0;
  width: 1440px;
  box-sizing: border-box;
}

.btn-next-2 {
  width: 225px;
  height: 66px;
  border-radius: 15px;
  border: 1px solid #FEB5CA;
  background: #E37596;
  font-family: 'JetBrains Mono';
  font-weight: 700;
  font-size: 30px;
  color: #FFF3F3;
  position: absolute;
  top: 730px;
  bottom: 10px;
  left: 1104px;
  text-decoration: none;
  text-align: center;
  line-height: 66px;
}