.address {
    color: #5754A3;
}

.address img {
    height: 1rem;
    width: auto;
}
.detail-product h1 {
    color:#5754A3;
}
.detail-product .product-img {
    border: 2px solid #F7BDCB;
}
.detail-product .product-img img {
    border: none;
    height: 20rem;
    width:auto;
}
.detail-product .product-content .title-content {
    font-size: 1.3rem;
}
.detail-product .product-content .content {
    font-size: 1rem;
}
.detail-product .btn-content .btn{
    background: #5754A3;
}
.detail-product .btn-content p{
    color: white;
}