
.container-home .content {
    margin: 20px 0 0 100px;
}
.container-home .content h1 {
    font-family: "Jockey One", sans-serif !important;
    font-size: 2.5rem;
    margin-left: 40px;
    color: #413E7E !important;
}
.feature {
    float: left;
    justify-content: space-between;
    display: flex;
    margin: 20px 0;
}
.filter-conainer {
    width: fit-content;
}
.filter-dropdown, .feature .btn button {
    padding: 10px;
    width: 170px;
    background-color: #F7BDCB;
    border-radius: 10px;
    border: none;
    color: #413E7E;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
tbody {
    color:#413E7E;
}
option  {
    background-color: rgb(228, 228, 228) !important;
}
.container-table table  {
    border-collapse: collapse; /* Remove gaps between cells */
    width: 100%; /* Make table fit container width */
  }
  
.container-table table th, .container-table table td {
    border: 1px solid #ddd; /* Add borders to cells */
    padding: 8px; /* Add spacing inside cells */
    text-align: center; /* Align content to the left */
  }
  .container-table table th, .container-table table th button {
    color:black !important;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #EF99AE;
  }
  
  .container-table table button {
    color:#413E7E;
    background-color: rgba(228, 228, 228, 0);
    border: none;
  }
