.form
{
    justify-content: center;
    border: solid 2px #F7BDCB;
    margin: 5rem auto;
    align-items: center;
    width: 60rem;
    height: 35rem;
}
.form-group {
    margin: 1rem;
}
.form-content
{
    padding: 0.5rem 1rem;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 0.5rem 1rem;
    width: 50%;
    display: block;
    margin: auto;
    cursor: pointer;
    background: #E37596;
    color: #fff;
}
.logo h1, label {
    font-family: "Jockey One", sans-serif !important;
    color: #5754A3;
}
.logo {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnSubmit:hover {
    background-color: #F7BDCB;
    color: #5754A3;
}
label {
    font-size: 1.5rem;
}
.ratio-gender {
    margin-top: 0;
}